.mm.button{
    direction: ltr;
    border: none;
    background-color: transparent;
    color: inherit;
    text-align: center;
    font-size: 100%;
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: inherit;
    outline: 0;
    opacity: .9;
    display: inline-block;
    overflow: hidden;
    height: 100%;
    position: relative;
    cursor: pointer;
    vertical-align: top;
    padding: 0px 8px;
}

.mm.button::after{
    content: '';
    position: absolute;
    top: 10px;
    right: 2px;
    background-color: #f00;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    line-height: normal;
}

.mm.button.decoded::after{
    background-color: rgb(0, 214, 18);
}

#status.button::after{
    content: '';
    position: absolute;
    top: 10px;
    right: 2px;
    height: 0px;
    width: 0px;
    border-radius: 0px;
    line-height: normal;
}

.mm.hidden{
    display: none !important;
}

.mm.panel {
    font-family: "YouTube Noto",Roboto,Arial,Helvetica,sans-serif;
    text-align: left;
    direction: ltr;
    font-size: 11px;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 10px;
    margin-bottom: 40px;
    padding: 0;
    border: 0;
    background: rgba(28,28,28,0.8);
    border-radius: 4px;
    color: #fff;
    left: 0px;
    right: 0px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    z-index: 64;
    min-width: 26em;
}
